[submodule "auth"]
	path = auth
	url = https://github.com/sinchi/auth.git
[submodule "infra"]
	path = infra
	url = https://github.com/sinchi/infra.git
[submodule "client"]
	path = client
	url = https://github.com/sinchi/ticket-client.git

